.basket_content {

    margin-left: 10px;
    margin-right: 10px;  
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 0px;
    max-width: 600px;
    background-color: #F2AF29;
    border-radius: 20px;
    float: left;
    color: white;
    text-align: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;
}

.basket_style p {
    margin: 0px;
    
}
.basket_style a
{
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.basket_query {
    float: left;
    text-align: right;
    border-radius: 20px;
}

.basket_query input{
    float: left;
    text-align: center;
    min-width: 400px; 
    border-radius: 20px;
    margin-top: 2px; 
    font-family: 'Comfortaa', cursive;
}

.basket_order {
    float: left;
    text-align: right;
    border-radius: 20px;
}
.basket_order a
{
    font-size: 20px;
}