.basket_content {

    margin-left: 10px;
    margin-right: 10px;  
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    padding-top: 10px;
    padding-bottom: 0px;
    max-width: 600px;
    background-color: #F2AF29;
    border-radius: 20px;
    float: left;
    color: white;
}

.basket_style p {
    margin: 0px;
    
}
.basket_style a
{
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
}