.card {
    width: 400px;
    height: 100px;
    border: black;
    border-style: solid;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
}

.card img {
    float: left;
    padding: 5px;
}

.card p {
    margin: 5px;
}
.card a
{
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
}

.card #restaurantName {
    font-size: 25px;
    font-weight: bold;
}

.search
{
    width: 300px;
    height: 20px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}