body {
    margin: 0px;
    background-color: #3E3C3D;
}

/* Header */
.header {
    overflow: hidden;
    font-weight: bold;
    color: #d91e36;
    padding: 10px;
    height: 50px;
    background-color: #F2AF29;
    font-size: 25px;
}

.headerLeft {
    float: left;
}

.headerLeft a {
    float: left;
}

.headerLeft p {
    font-weight: bold;
    text-decoration: none;
    color: #d91e36;
    float: left;
    margin: 10px;
    margin-left: 20px;
    font-family: 'Comfortaa', cursive;
}

.headerLeft img {
    height: 50px;
    width: 50px;
    float: left;
}


.headerRight {
    top: 50%;
    float: right;
}

.headerRight a {
    text-decoration: none;
    color: #d91e36;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}
.headerRight input
{
    visibility: hidden;
    float: right;
    margin-right: -40px;
    margin-top: 5px;
    font-size: 24px;
}

.headerRight img {
    width: 50px;
    height: 50px;
}

/* Main Divs */
.wall {
    float: left;
    width: calc(100% - 300px);
    overflow: hidden;
    background-color: #E0E0CE;
    height: calc(100vh - 70px);
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hashTags {
    overflow: hidden;
    float: right;
    background-color: #d91e36;
    width: 300px;
    height: calc(100vh - 110px);
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Tag {
    overflow: auto;
    margin-right: -100px;
    padding-right: 110px;
    padding-left: 10px;
    height: inherit;
    text-align: center;
}

.Tag a
{
    font-family: 'Courier New', monospace;
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: #F2AF29;
    margin: 4px;
    padding: 5px;
    border-radius: 10px;
    line-height: 40px;
}

.inside {
    overflow: auto;
    margin-right: -100px;
    padding-right: 100px;
    height: inherit;
    text-align: center;
}
.inside a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: white;
    margin: 10px;
    padding: 5px;
}


