.post {
    border: black;
    border-style: solid;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
}

.post img {
    width: 600px;
}

.post span {
    color: #d91e36;
    font-size: 30px;
}

.icons {
    height: 40px;
}

.icons img {
    width: 40px;
    height: 40px;
}

.post p {
    text-align: left;
}